<footer class="footer-section">
  <p>&copy; Eman Shalabi 2022</p>
  <div class="center">
    <div>
      <i class="fa fa-envelope"></i>
      <a href="mailto:eshalabi@my.centennialcollege.ca">Eshalabi@my.centennialcollege.ca</a>
    </div>
    <div class="footer-icons">
      <a href="https://www.linkedin.com/in/eshalabi/"><i class="fa-brands fa-linkedin"></i></a>
    </div>

  </div>

</footer>